body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:21px;
  background:inherit;
  background-color:rgba(28, 107, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:531px;
  width:3px;
  height:21px;
}
#u12832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1270px;
  background:inherit;
  background-color:rgba(42, 48, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:69px;
  width:180px;
  height:1270px;
}
#u12833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2093px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:0px;
  width:2093px;
  height:68px;
}
#u12834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12835 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:19px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u12836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1762px;
  height:44px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12836 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:69px;
  width:1762px;
  height:44px;
}
#u12836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12837 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:69px;
  width:100px;
  height:44px;
}
#u12837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12838 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:83px;
  width:43px;
  height:16px;
}
#u12838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u12839 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:69px;
  width:1px;
  height:44px;
}
#u12839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12840 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:69px;
  width:120px;
  height:44px;
}
#u12840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:44px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12841 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:69px;
  width:132px;
  height:44px;
}
#u12841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u12842 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:69px;
  width:1px;
  height:44px;
}
#u12842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12843 {
  border-width:0px;
  position:absolute;
  left:1766px;
  top:28px;
  width:43px;
  height:16px;
  color:#666666;
}
#u12843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12844 {
  border-width:0px;
  position:absolute;
  left:1717px;
  top:18px;
  width:35px;
  height:35px;
}
#u12844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12845 {
  border-width:0px;
  position:absolute;
  left:1817px;
  top:32px;
  width:16px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u12845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12846 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:83px;
  width:65px;
  height:16px;
}
#u12846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12847 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:83px;
  width:97px;
  height:16px;
}
#u12847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u12848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12848 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:28px;
  width:29px;
  height:16px;
  color:#666666;
}
#u12848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u12849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12849 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:28px;
  width:29px;
  height:16px;
  color:#666666;
}
#u12849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u12850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u12850 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:27px;
  width:20px;
  height:19px;
}
#u12850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u12851 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:27px;
  width:20px;
  height:19px;
}
#u12851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:58px;
  background:inherit;
  background-color:rgba(75, 86, 109, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:477px;
  width:181px;
  height:58px;
}
#u12852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12853 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:206px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:264px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:322px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:380px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:438px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:496px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:554px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:612px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:674px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:732px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u12862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:499px;
  width:20px;
  height:14px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1761px;
  height:1226px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:113px;
  width:1761px;
  height:1226px;
}
#u12864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:1200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:123px;
  width:1710px;
  height:1200px;
}
#u12865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:159px;
  width:210px;
  height:1px;
}
#u12868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:159px;
  width:210px;
  height:1px;
}
#u12869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:148px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u12872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:145px;
  width:28px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12872_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:148px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u12874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u12875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:145px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12875_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:149px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u12878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:146px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12878_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:158px;
  width:210px;
  height:1px;
}
#u12880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:148px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u12883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:145px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u12883_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u12884 {
  position:absolute;
  left:221px;
  top:199px;
}
#u12884_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1648px;
  height:1081px;
  background-image:none;
}
#u12884_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:1081px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:1081px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u12885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:21px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:211px;
  width:73px;
  height:25px;
  color:#666666;
  line-height:21px;
}
#u12886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u12887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:215px;
  width:12px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#989898;
}
#u12887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1649px;
  height:2px;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:249px;
  width:1648px;
  height:1px;
}
#u12888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:268px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:268px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u12891_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:410px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12894_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u12895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:410px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:322px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:325px;
  width:1px;
  height:16px;
}
#u12897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:328px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u12898_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12898_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:366px;
  width:149px;
  height:18px;
  font-size:14px;
}
#u12899_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12899_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:328px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u12900_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12900_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:328px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u12901_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12901_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:328px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u12902_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12902_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:328px;
  width:173px;
  height:18px;
  font-size:14px;
}
#u12903_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12903_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:328px;
  width:149px;
  height:18px;
  font-size:14px;
}
#u12904_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12904_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:328px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12905_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12905_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:365px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12906_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12906_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:365px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12907_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12907_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:365px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12908_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12908_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:366px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12909_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12909_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:366px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12910_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12910_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:366px;
  width:240px;
  height:18px;
  font-size:14px;
}
#u12911_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12911_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:366px;
  width:149px;
  height:18px;
  font-size:14px;
}
#u12912_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12912_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:366px;
  width:149px;
  height:18px;
  font-size:14px;
}
#u12913_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12913_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:1751px;
  top:328px;
  width:149px;
  height:18px;
  font-size:14px;
}
#u12914_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12914_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:328px;
  width:100px;
  height:18px;
  font-size:14px;
}
#u12915_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12915_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:462px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:462px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12919_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u12920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:653px;
  width:81px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:655px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12923_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u12924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:513px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12927 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:515px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12927_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u12928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12928 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:990px;
  width:140px;
  height:40px;
}
#u12928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12929 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:706px;
  width:93px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:85px;
  white-space:nowrap;
}
#u12930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12932 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:706px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12932_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u12933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12934 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:561px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u12935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12938 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:762px;
  width:325px;
  height:134px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12938_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u12939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12939 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:762px;
  width:45px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u12939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u12940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12942 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:565px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u12942_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
