body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1209.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:34px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:103px;
  width:106px;
  height:56px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:180px;
  width:112px;
  height:57px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:64px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:823px;
  width:107px;
  height:64px;
  font-size:12px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:103px;
  word-wrap:break-word;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:159px;
  width:0px;
  height:0px;
}
#u975_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u975_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:11px;
  height:8px;
}
#u975_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:7px;
  width:8px;
  height:14px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:159px;
  width:0px;
  height:0px;
}
#u976_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u976_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:11px;
  height:8px;
}
#u976_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:7px;
  width:8px;
  height:14px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:159px;
  width:0px;
  height:0px;
}
#u977_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u977_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:11px;
  height:8px;
}
#u977_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:7px;
  width:8px;
  height:14px;
}
#u977_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:8px;
  width:18px;
  height:19px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:315px;
  width:0px;
  height:0px;
}
#u978_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u978_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:261px;
  width:112px;
  height:57px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:418px;
  width:112px;
  height:57px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:855px;
  width:0px;
  height:0px;
}
#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-650px;
  width:8px;
  height:654px;
}
#u981_seg2 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-650px;
  width:77px;
  height:8px;
}
#u981_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-655px;
  width:19px;
  height:18px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-328px;
  width:100px;
  word-wrap:break-word;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:497px;
  width:112px;
  height:57px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:475px;
  width:0px;
  height:0px;
}
#u983_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u983_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:554px;
  width:0px;
  height:0px;
}
#u984_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u984_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:578px;
  width:112px;
  height:57px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:656px;
  width:112px;
  height:57px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:635px;
  width:0px;
  height:0px;
}
#u987_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u987_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:19px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:737px;
  width:112px;
  height:57px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:935px;
  width:106px;
  height:56px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:713px;
  width:0px;
  height:0px;
}
#u990_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u990_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:794px;
  width:0px;
  height:0px;
}
#u991_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u991_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:887px;
  width:0px;
  height:0px;
}
#u992_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u992_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:34px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:103px;
  width:106px;
  height:56px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:195px;
  width:112px;
  height:57px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:64px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:664px;
  width:107px;
  height:64px;
  font-size:12px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:103px;
  word-wrap:break-word;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:159px;
  width:0px;
  height:0px;
}
#u997_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:159px;
  width:0px;
  height:0px;
}
#u998_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:159px;
  width:0px;
  height:0px;
}
#u999_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u999_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:19px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:252px;
  width:0px;
  height:0px;
}
#u1000_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1000_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:290px;
  width:112px;
  height:57px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:386px;
  width:112px;
  height:57px;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:347px;
  width:0px;
  height:0px;
}
#u1003_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1003_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:821px;
  width:0px;
  height:0px;
}
#u1004_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:228px;
  height:8px;
}
#u1004_seg1 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:-601px;
  width:8px;
  height:605px;
}
#u1004_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-601px;
  width:223px;
  height:8px;
}
#u1004_seg3 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-606px;
  width:19px;
  height:18px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-303px;
  width:100px;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:480px;
  width:112px;
  height:57px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:571px;
  width:106px;
  height:56px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:443px;
  width:0px;
  height:0px;
}
#u1007_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u1007_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:19px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:537px;
  width:0px;
  height:0px;
}
#u1008_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1008_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:571px;
  width:112px;
  height:57px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:793px;
  width:106px;
  height:56px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:627px;
  width:0px;
  height:0px;
}
#u1011_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1011_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:728px;
  width:0px;
  height:0px;
}
#u1012_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1012_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:319px;
  width:0px;
  height:0px;
}
#u1013_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1013_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:290px;
  width:112px;
  height:57px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:347px;
  width:0px;
  height:0px;
}
#u1015_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u1015_seg1 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:64px;
  width:125px;
  height:8px;
}
#u1015_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:59px;
  width:19px;
  height:18px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:131px;
  width:0px;
  height:0px;
}
#u1016_seg0 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-4px;
  width:143px;
  height:8px;
}
#u1016_seg1 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-4px;
  width:8px;
  height:68px;
}
#u1016_seg2 {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:51px;
  width:18px;
  height:19px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:195px;
  width:112px;
  height:57px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:252px;
  width:0px;
  height:0px;
}
#u1018_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1018_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:290px;
  width:112px;
  height:57px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:386px;
  width:112px;
  height:57px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:347px;
  width:0px;
  height:0px;
}
#u1021_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1021_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:64px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:107px;
  height:64px;
  font-size:12px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:103px;
  word-wrap:break-word;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:609px;
  width:106px;
  height:56px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:443px;
  width:0px;
  height:0px;
}
#u1024_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1024_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:544px;
  width:0px;
  height:0px;
}
#u1025_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u1025_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:637px;
  width:0px;
  height:0px;
}
#u1026_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1026_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-417px;
  width:8px;
  height:421px;
}
#u1026_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-417px;
  width:65px;
  height:8px;
}
#u1026_seg3 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-422px;
  width:19px;
  height:18px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-213px;
  width:100px;
  word-wrap:break-word;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:339px;
  width:112px;
  height:57px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:108px;
  word-wrap:break-word;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:237px;
  width:0px;
  height:0px;
}
#u1028_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u1028_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:396px;
  width:0px;
  height:0px;
}
#u1029_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u1029_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
