body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1707px;
  height:974px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:1707px;
  height:974px;
}
#u5885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1464px;
  height:64px;
}
#u5886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u5887 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:74px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u5887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:912px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:132px;
  width:1447px;
  height:912px;
}
#u5888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u5889 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:255px;
  width:18px;
  height:15px;
}
#u5889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u5892 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:169px;
  width:210px;
  height:1px;
}
#u5892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5894 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:158px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u5895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5895 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:155px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5895_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u5896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u5897 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:159px;
  width:57px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u5897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:59px;
  white-space:nowrap;
}
#u5898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5898 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:156px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5898_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u5899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:381px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:1782px;
  top:460px;
  width:558px;
  height:381px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:21px;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:1802px;
  top:471px;
  width:73px;
  height:25px;
  color:#666666;
  line-height:21px;
}
#u5903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:2px;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:1782px;
  top:506px;
  width:558px;
  height:1px;
}
#u5904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:2303px;
  top:476px;
  width:7px;
  height:16px;
}
#u5905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:524px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u5909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:1902px;
  top:524px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5909_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:5px;
  width:312px;
  word-wrap:break-word;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:1902px;
  top:581px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5913_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:581px;
  width:57px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:1902px;
  top:639px;
  width:320px;
  height:28px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5918_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u5919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:639px;
  width:69px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:690px;
  width:322px;
  height:67px;
  font-family:'Helvetica Neue Extended Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u5923_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:1857px;
  top:690px;
  width:45px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u5924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u5925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:1857px;
  top:786px;
  width:131px;
  height:34px;
}
#u5925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u5926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:2060px;
  top:786px;
  width:131px;
  height:34px;
}
#u5926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u5927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:32px;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:448px;
  width:1385px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u5927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1381px;
  word-wrap:break-word;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:13px;
  width:32px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u5931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:-3px;
  width:53px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:49px;
  word-wrap:break-word;
}
#u5933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:1633px;
  top:-3px;
  width:51px;
  height:64px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u5934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:1684px;
  top:26px;
  width:14px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#999999;
}
#u5934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:17px;
  width:24px;
  height:26px;
}
#u5935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:18px;
  width:30px;
  height:25px;
  color:#FFFFFF;
}
#u5936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1059px;
  background:inherit;
  background-color:rgba(42, 48, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:240px;
  height:1059px;
}
#u5939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:58px;
  background:inherit;
  background-color:rgba(75, 86, 109, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:241px;
  height:58px;
}
#u5940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:108px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:166px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:224px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:282px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:340px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:398px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:456px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:514px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:576px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:634px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:111px;
  width:20px;
  height:14px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1463px;
  height:44px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:50px;
  width:1463px;
  height:44px;
}
#u5954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:64px;
  width:43px;
  height:16px;
}
#u5955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u5956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:50px;
  width:160px;
  height:44px;
}
#u5956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:44px;
  background:inherit;
  background-color:rgba(206, 206, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:50px;
  width:176px;
  height:44px;
}
#u5957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:64px;
  width:65px;
  height:16px;
}
#u5958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:64px;
  width:97px;
  height:16px;
}
#u5959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:169px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:504px;
  width:1385px;
  height:169px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:21px;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:514px;
  width:73px;
  height:25px;
  color:#666666;
  line-height:21px;
}
#u5965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:520px;
  width:15px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#989898;
}
#u5966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:2px;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:540px;
  width:1385px;
  height:1px;
}
#u5967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:564px;
  width:1314px;
  height:90px;
}
#u5969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u5970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:251px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  word-wrap:break-word;
}
#u5971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:251px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  word-wrap:break-word;
}
#u5972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:0px;
  width:263px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  word-wrap:break-word;
}
#u5973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:30px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:0px;
  width:503px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:499px;
  word-wrap:break-word;
}
#u5974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:46px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:30px;
  width:251px;
  height:30px;
}
#u5975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  word-wrap:break-word;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:30px;
  width:251px;
  height:30px;
}
#u5976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  word-wrap:break-word;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:30px;
  width:263px;
  height:30px;
}
#u5977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  word-wrap:break-word;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:30px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:30px;
  width:503px;
  height:30px;
}
#u5978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:46px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u5980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:60px;
  width:251px;
  height:30px;
}
#u5980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:60px;
  width:251px;
  height:30px;
}
#u5981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:60px;
  width:263px;
  height:30px;
}
#u5982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:30px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:60px;
  width:503px;
  height:30px;
}
#u5983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:510px;
  width:29px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u5986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:520px;
  width:29px;
  height:16px;
  color:#169BD5;
}
#u5987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:519px;
  width:29px;
  height:16px;
  color:#169BD5;
}
#u5989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:519px;
  width:20px;
  height:16px;
  color:#169BD5;
}
#u5990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:519px;
  width:29px;
  height:16px;
  color:#169BD5;
}
#u5992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:518px;
  width:22px;
  height:18px;
  color:#169BD5;
}
#u5993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:840px;
  width:128px;
  height:36px;
}
#u5994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u5995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:840px;
  width:128px;
  height:36px;
}
#u5995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:133px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:208px;
  width:1385px;
  height:133px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:21px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:221px;
  width:73px;
  height:25px;
  color:#666666;
  line-height:21px;
}
#u6000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:228px;
  width:13px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#989898;
}
#u6001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:2px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:257px;
  width:1385px;
  height:1px;
}
#u6002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:270px;
  width:74px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u6003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:67px;
  white-space:nowrap;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:275px;
  width:16px;
  height:16px;
}
#u6004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:273px;
  width:320px;
  height:25px;
}
#u6005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  background:inherit;
  background-color:rgba(109, 109, 109, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:227px;
  width:134px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u6007_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:7px;
  width:116px;
  white-space:nowrap;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:258px;
  width:10px;
  height:6px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:265px;
  width:29px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
}
#u6011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:275px;
  width:57px;
  height:16px;
  color:#169BD5;
}
#u6012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
